<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Detalles del Curso</title>
</head>
<body>

    <!-- Navegación -->
    <%- include('partials/navigation') %>

    <div class="container mt-5">
        <h1 class="mb-4">Detalles del Curso</h1>

        <!-- Verifica si existe el curso y muestra la información -->
        <% if (course) { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= course.name %></h2>
                </div>
                <div class="card-body">
                    <p><strong>Descripción:</strong> <%= course.description %></p>
                    <p><strong>Idioma:</strong> <%= course.language %></p>
                    <p><strong>Fecha de creación:</strong> <%= new Date(course.creation_date).toLocaleDateString() %></p>
                    
                    <!-- Mostrar imagen del curso si existe -->
                    <% if (course.cover_image) { %>
                        <div class="mb-4">
                            <img src="<%= course.cover_image %>" alt="Portada del curso" class="img-fluid rounded">
                        </div>
                    <% } %>
                </div>
            </div>

            <!-- Botón "Comenzar" que redirige al course_player -->
            <div class="text-center mt-4">
                <a href="/course_player/<%= course.course_id %>" class="btn btn-primary btn-lg">Comenzar</a>
            </div>
        <% } else { %>
            <!-- Mensaje de advertencia si no se encuentran los detalles del curso -->
            <div class="alert alert-warning">No se encontraron detalles para este curso.</div>
        <% } %>
    </div>
    

    <!-- Pie de página -->
    <%- include('partials/footer') %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
